{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-transform-goober",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
